body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;
}

.details {
    background-color: #fdfdfd;
    padding-top: 5px;
    padding-bottom: 150px;
}

.details .navigation {
    margin-left: 100px;
}

.details .row .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details .row .left img {
    width: 24rem;
    height: 24rem;
    border-radius: 50% ;
}

.details .row .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .row .right .titleProduct {
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 97px;
    color: #000000;
}

.details .row .right .description,
.details .row .right .timeDeliv {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #6A4029; 
}

.details .row .right .handleTotal .minus,
.details .row .right .handleTotal .plus,
.details .row .right .handleTotal .total {
    padding: 10px 20px !important;
    border: 1px solid #9F9F9F !important;
    box-sizing: border-box;
    background-color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #6A4029;
}

.details .row .right .handleTotal .price {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.details .row .right .handleAdd .add {
    width: 100%;
    height: 70px;
    background: #6A4029;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #fff;
}

.details .row .right .handleAdd .btnEdit {
    width: 100%;
    height: 70px;
    background: #FFBA33;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #6A4029;
}

.details .row .right .handleAdd .btnDel {
    width: 100%;
    height: 70px;
    background: #000;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #fff;
}

.handleCekout {
    margin-top: -80px;
    margin-left: 300px !important;
}

.handleCekout .size {
    width: 20%;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
}

.handleCekout .size .titleSize {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.handleCekout .size .listSize .reguler,
.handleCekout .size .listSize .large,
.handleCekout .size .listSize .extra {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFBA33;
    padding: 35px;
    border-radius: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.handleCekout .itemCart {
    width: 850px;
    height: 168px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
    margin-left: 400px;
}

.handleCekout .itemCart .imgCart {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 50px;
}

.handleCekout .itemCart .detailsCart {
    margin-left: 120px;
}

.handleCekout .itemCart .detailsCart .nameProd {
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;
    color: #000000;
}

.handleCekout .itemCart .detailsCart .list-group-item {
    border: none !important;
    margin-left: -10px;
}

.handleCekout .itemCart .checkout {
    margin-top: 45px;
    margin-left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handleCekout .itemCart .checkout p {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.handleCekout .itemCart .checkout .arrow .icon {
    margin-top: -8px;
    margin-left: 80px;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: #FFBA33;
    cursor: pointer;
}

.footDetails {
    padding-top: 150px !important;
    background: #F8F8F8;
}

@media screen and (max-width: 768px) {
    .details {
        width: 100% !important;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

    }
    .details .navigation {
        margin-left: 10px;
    }

    .details .infoDeliv {
        width: 100%;
    }

    .details .row .left {
        width: 100%;
    }

    .details .row .left img {
        width: 14rem;
        height: 14rem;
    }

    .details .row .left .delivery {
        width: 20rem;
        height: 24rem;
    }

    .details .row .left .delivery .card-body h5 {
        font-size: 20px;
        line-height: 27.5px;
    }

    .details .infoProd {
        width: 100%;
    }

    .details .row .right .titleProduct {
        width: 90%;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
    }

    .details .row .right .description,
    .details .row .right .timeDeliv {
        width: 90%;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.01em;
    }

    .details .row .right .handleTotal .minus,
    .details .row .right .handleTotal .plus,
    .details .row .right .handleTotal .total {
        padding: 5px 15px !important;
        font-weight: 500;
        font-size: 20px;
    }

    .details .row .right .handleTotal .price {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

    .details .row .right .handleAdd .add {
        width: 100%;
        height: 60px;
    }

    .details .row .right .handleAdd .btnEdit {
        width: 100%;
        height: 60px;
    }

    .details .row .right .handleAdd .btnDel {
        width: 100%;
        height: 60px;
    }

    .handleCekout {
        margin-top: 0px;
        margin-left: 5px !important;
        width: 100%;
    }

    .handleCekout .size {
        width: 97%;
    }

    .handleCekout .itemCart {
        width: 96% !important;
        height: 168px;
        margin-top: 190px;
        margin-left: 0px;
    }

    .handleCekout .itemCart .imgCart {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 30px;
        margin-left: 0px;
    }

    .handleCekout .itemCart .detailsCart {
        width: 70% !important;
        margin-left: 100px;
        margin-top: -110px;
    }
    
    .handleCekout .itemCart .detailsCart .nameProd {
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 17px;
        color: #000000;
    }
    
    .handleCekout .itemCart .detailsCart .list-group-item {
        border: none !important;
        background: none;
        margin-left: 0px;
    }
    
    .handleCekout .itemCart .checkout {
        margin-top: 200px;
        margin-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .handleCekout .itemCart .checkout .arrow .icon {
        margin-top: -8px;
        margin-left: 100px;
    }

    .footDetails {
        padding-top: 20px !important;
        margin-top: 500px;
        background: #F8F8F8;
    }
    
}