.bgHistory {
    background-image: url('../svg/history.jpeg');
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.bgHistoryNone {
    background-image: url('../svg/history.jpeg');
    height: 120vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.titleHistory {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.titleHistory .noteHistory {
    font-style: normal;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
    
}

.cardHistory {
    border-radius: 20px !important;
}

.detailsHis {
    cursor: pointer;
}