body {
    margin: 0;
    padding: 0;
}

.promo .cardPromo .row .testiCard .card {
    width: 70% !important;
}

#pc1, #pc3 {
    background-color: #88b788;
}

#pc2 {
    background-color: #f5c361;
}

#pc4 {
    background-color: #c59378;
}

.promo .cardPromo .row .apply {
    width: 60%;
    height: 20%;
    background-color: #6A4029;
    border-radius: 20px;
    color: #fff;
}

.promo .cardPromo .btnPromo {
    width: 60%;
    height: 30%;
    background: #FFBA33;
    border-radius: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #6A4029;
}

.promo .cardPromo .btnEditPromo {
    width: 60%;
    height: 20%;
    background-color: #6A4029;
    border-radius: 20px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}



.product .navProduct .navbar-nav .nav-item {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #9F9F9F;
}

.product .navProduct .navbar-nav .nav-item:hover {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #6A4029; 
    border-bottom: 3px solid #6a4029;
}

.product .prod .card {
    border-radius: 30px !important;
    margin-top: 50px;
    cursor: pointer;
}

.product .prod .card img {
    margin-top: -60px;
}
  
.product .prod .card .discount {
    width: 59px;
    height: 35px;
    margin-left: 100px;
    margin-top: -20px;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 50rem;
    position: absolute;
    font-weight: 700;
    text-align: center;
}

.product .prod .card #product65,
.product .prod .card #product71 {
    margin-bottom: 75px !important;
}

.product .prod .card #product66,
.product .prod .card #product67 {
    margin-bottom: 20px !important;
}

.product .prod .card .card-body span,
.product .note p {
    color: #6a4029;
}

.footProducts {
    background-color: #F8F8F8;
    padding-top: 50px !important;
}

.product .edit .btn {
    width: 50%;
    height: 60px;
    background: #6A4029;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .promo .cardPromo {
        border-right: none !important;
        height: 75vh;
    }
    
    .promo .testiCard {
        width: 100% !important;
        height: 200px !important;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    
    .promo .cardPromo .row .testiCard .card {
        width: 90% !important;
    }

    .promo .cardPromo .terms {
        width: 100%;
    }

    .promo .cardPromo .terms .titleTerms {
        width: 100% !important;
    }
    
    .promo .cardPromo .terms ol li {
        width: 100% !important;
    }

    .product {
        border-top: 1px solid #dee2e6 !important;
    }
    
    .product .navProduct {
        width: 100% !important;
        height: 60px !important;
        overflow: auto;
        /* float: left; */
    }

    .product .navProduct .navbar-nav {
        display: flex !important;
        align-items: center ;
    }

    .product .navProduct .navbar-nav{
        width: 100% !important;
    }
    
      .promo .itemProduct .prod .card {
        width: 130px !important;
        height: 200px !important;
        margin: 34px 20px 30px -3px;
    }
    
      .promo .itemProduct .prod .card img {
        width: 90px !important;
        height: 90px !important;
    }
    
      .product .prod .card img {
        margin-top: -50px;
        margin-left: 21px !important;
    }
    
    .product .prod .card .discount {
        margin-left: 80px;
        margin-top: -20px;
    }

    .product .prod .card #product69,
    .product .prod .card #product75 {
        margin-bottom: 25px !important;
    }

    .product .prod .card #product65,
    .product .prod .card #product71 {
        margin-bottom: 55px !important;
    }
    
      .product .itemProduct {
        padding-left: 10px;
        width: 110% !important;
        height: 500px !important;
        overflow: scroll;
    }
    
      .product .note p {
        font-size: 13px !important;
    }

    .footProducts {
        width: 100% !important;
        margin-right: 10px;
    }

    .product .edit .btn {
        width: 100%;
        height: 60px;
        background: #6A4029;
        color: #fff;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        border-radius: 20px;
    }
}